Repository Savaed/gaia: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mypy, pylint

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy

pylint:
  name: pylint
  stages:
  - commit
  language: system
  entry: pylint

Redesing IO operations
  gaia/io.py
  pyproject.toml
  tests/test_io.py
Due: isort, black, mypy, pylint

Add GitHub Actions
  .github/workflows/main.yaml
Due: none

Add temporary README
  .github/workflows/main.yaml
  README.md
Due: none

Add pre-commit GitHub Action
  .github/workflows/main.yaml
Due: none

Include poetry.lock in repo
  .gitignore
  poetry.lock
Due: none

Add 'Setup Poetry environment' custom GitHub Action
  .github/actions/setup-poetry-env.yaml
  .github/workflows/main.yaml
Due: none

Fix CI #1
  .github/workflows/main.yaml
Due: none

Fix CI #2
  .github/actions/setup-poetry-env/action.yaml
  .github/workflows/main.yaml
Due: none

Split CI tests and code checks GitHub Actions
  .github/workflows/checks.yaml
  .github/workflows/main.yaml
  .github/workflows/tests.yaml
Due: none

Fix CI #3
  .github/workflows/checks.yaml
  .github/workflows/tests.yaml
Due: none

Add Codecove GitHub Action
  .github/workflows/tests.yaml
Due: none

Add codecove token to github actions
  .github/workflows/tests.yaml
Due: none

Fix pytest command in github actions
  .github/workflows/tests.yaml
Due: none

Add CI and Codecov badges
  README.md
Due: none

Fix CI bagde URL
  README.md
Due: none

Add hyperlink to CI badge
  README.md
Due: none

Add logging to IO operations
  gaia/io.py
Due: isort, black, mypy, pylint

Add Kepler time series data source
  gaia/data/sources.py
  tests/data/test_sources.py
Due: isort, black, mypy, pylint

Move CI/CD code to one main file
  .github/workflows/checks.yaml
  .github/workflows/main.yaml
  .github/workflows/tests.yaml
Due: none

Bump to python 3.10
  .github/workflows/main.yaml
  gaia/data/models.py
  gaia/data/sources.py
  gaia/io.py
  pyproject.toml
Due: isort, black, mypy, pylint

Fix apache-beam installation via poetry
  .github/workflows/main.yaml
Due: none

Fix poetry setup CI part
  .github/workflows/main.yaml
  README.md
Due: none

Fix poetry installation issues
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
Due: none

Add aactivator for venv
  .activate.sh
  .deactivate.sh
Due: none

Simplify .gitignore
  .gitignore
  README.md
  conf/config.yaml
Due: none

Start from scratch
  conf/config.yaml
  gaia/data/models.py
  gaia/data/sources.py
  gaia/io.py
  gaia/math.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/data/test_sources.py
  tests/test_io.py
Due: isort, black, mypy, pylint

Use flake8 instead of pylint
  .flake8
  .gitignore
  .pre-commit-config.yaml
  gaia/utils/asynchronous.py
  gaia/utils/log.py
  gaia/utils/progress.py
  pyproject.toml
Due: isort, black, mypy, pylint

Add pyupgrade to pre-commit
  .pre-commit-config.yaml
Due: none

Fix CI
  .github/workflows/main.yaml
Due: none

Fix CI badge
  README.md
Due: none

Fix CI badge 2
  README.md
Due: none

Add tox
  .github/workflows/main.yaml
  .gitignore
  pyproject.toml
  requirements-dev.txt
  tests/sample_test.py
  tox.ini
Due: isort, black

Remove python 3.11 from CI
  .github/workflows/main.yaml
  tox.ini
Due: none

Back to reporting to Codecov
  .github/workflows/main.yaml
  tox.ini
Due: none

Use covdefaults plugin for coverage
  .gitignore
  pyproject.toml
  requirements-dev.txt
  tox.ini
Due: none

Add colored GH Actions output
  .github/workflows/main.yaml
Due: none

Fix colored GH Actions output
  .github/workflows/main.yaml
Due: none

Add color to mypy output on CI
  .github/workflows/main.yaml
Due: none

Add config for isort, black, mypy
  gaia/utils/asynchronous.py
  gaia/utils/log.py
  gaia/utils/progress.py
  pyproject.toml
Due: isort, black, mypy, pylint

Use new python 3.10 syntax
  .pre-commit-config.yaml
  gaia/utils/asynchronous.py
  gaia/utils/progress.py
Due: isort, black, mypy, pylint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$, but not: tests
  pylint: any of: \.py$, but not: tests
