Repository Savaed/gaia: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mypy, pylint

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy

pylint:
  name: pylint
  stages:
  - commit
  language: system
  entry: pylint

Fix mypy colored output on CI
  .github/workflows/main.yaml
Due: none

Bump mypy pre-commit hook to v0.990
  .pre-commit-config.yaml
Due: none

Small refactor with trailing commas hook
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  gaia/utils/asynchronous.py
  gaia/utils/log.py
  pyproject.toml
Due: isort, black, mypy, pylint

Remove python 3.11 from tox
  pyproject.toml
  tox.ini
Due: none

Add a function to download data via REST API
  .pre-commit-config.yaml
  gaia/api.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/api_test.py
  tests/sample_test.py
Due: isort, black, mypy, pylint

Add pytest 'pythonpath' config
  pyproject.toml
Due: none

Add basic REST API functionality
  .pre-commit-config.yaml
  gaia/api.py
  pyproject.toml
  tests/api_test.py
  tests/conftest.py
Due: isort, black, mypy, pylint

Add mypy 'types-all'
  .pre-commit-config.yaml
Due: none

Fix mypy namespace packages issue
  pyproject.toml
Due: none

Add multiplatform (local, cloud, HDFS) IO functions
  gaia/io.py
  requirements-dev.txt
  requirements.txt
  tests/io_test.py
Due: isort, black, mypy, pylint

Refactor utils.asynchronous.py
  gaia/utils/asynchronous.py
Due: isort, black, mypy, pylint

Test commit
  .deactivate.sh
  .flake8
  .github/workflows/main.yaml
  .gitignore
  LICENSE
  README.md
  gaia/api.py
  gaia/enums.py
  gaia/io.py
  gaia/utils/asynchronous.py
  gaia/utils/log.py
  gaia/utils/progress.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/api_test.py
  tests/conftest.py
  tests/io_test.py
  tox.ini
Due: isort, black, mypy, pylint

Add Kepler quarters
  gaia/quarters.py
  tests/quarters_test.py
Due: isort, black, mypy, pylint

Return table name from NasaApi.download()
  gaia/api.py
  tests/api_test.py
Due: isort, black, mypy, pylint

Refactor asynchronous utils functions
  gaia/utils/asynchronous.py
Due: isort, black, mypy, pylint

Move utils/ content to separate files
  gaia/asynchronous.py
  gaia/log.py
  gaia/progress.py
  gaia/utils.py
  gaia/utils/log.py
Due: isort, black, mypy, pylint

Specify docstring for write() in io.py
  gaia/io.py
Due: isort, black, mypy, pylint

Add unit tests for check_kepid()
  tests/utils_test.py
Due: isort, black

Add hydra-core package
  .gitignore
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

Move download() from api.py to http.py
  gaia/http.py
Due: isort, black, mypy, pylint

Clarify ApiError docstring
  gaia/http.py
Due: isort, black, mypy, pylint

Add unit tests for http.download()
  tests/http_test.py
Due: isort, black

Fix get_quarter_prefixes()
  gaia/quarters.py
Due: isort, black, mypy, pylint

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add logs folder to .gitignore
  .gitignore
Due: none

Fix flake8 config parsing error
  .flake8
Due: none

Add specific mypy type ignore
  gaia/http.py
Due: isort, black, mypy, pylint

Add FileSaver
  gaia/io.py
  tests/io_test.py
Due: isort, black, mypy, pylint

Add logging setup function
  gaia/log.py
Due: isort, black, mypy, pylint

Add logging and ids test helpers
  tests/conftest.py
Due: isort, black

Temporarily exclude progress.py from cov reports
  pyproject.toml
Due: none

Add missing check_kepid() docstring
  gaia/utils.py
Due: isort, black, mypy, pylint

Add read_fits_table()
  gaia/io.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/io_test.py
Due: isort, black, mypy, pylint

Add FitsCombiner
  .gitignore
  gaia/data/combiners.py
  tests/combiners_test.py
Due: isort, black, mypy, pylint

Add function to group Kepler FITS files paths
  gaia/data/combiners.py
  tests/combiners_test.py
Due: isort, black, mypy, pylint

Fix combiners typing
  gaia/data/combiners.py
Due: isort, black, mypy, pylint

Exclude log.py from test coverage report
  pyproject.toml
Due: none

Fix dictionaries comparison in tests
  tests/combiners_test.py
  tests/conftest.py
Due: isort, black

Add KeplerDownloader.download_tables()
  gaia/downloaders.py
  tests/downloaders_test.py
Due: isort, black, mypy, pylint

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$, but not: tests
  pylint: any of: \.py$, but not: tests
